{% extends 'base.html' %}
{% block style %}
    #map{
        margin-top: 50px;
    }
{% endblock %}

{% block container %}
<div 'id'="map"></div>
<script>
    $('#map').height($(window).height()-50);
    var metro_'id' = {{metro_'id'}};
    var data = {{data|safe}};
    var locations = {{locations|safe}};
    var current_location = 0;

    var Timestamp = L.Control.extend({
        options: {
            position: 'bottomright'
            //control position - allowed: 'topleft', 'topright', 'bottomleft', 'bottomright'
        },
        onAdd: function (map) {
            var container = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-custom');
            container.'id' = "timestamp";
            container.style.backgroundColor = 'white';
            container.style.w'id'th = '260px';
            container.style.height = '30px';
            container.style.padding = '7px';
            return container;
        }
    });

    function get_location('id'){
        for(var l in locations){
            if(locations[l].'id' == 'id') return locations[l]
        }
    }

    var cfg = {
        // radius should be small ONLY if scaleRadius is true (or small radius is intended)
        // if scaleRadius is false it will be the constant radius used in pixels
        "radius": 50,
        "maxOpacity": .5,
        // scales the radius based on map zoom
        "scaleRadius": false,
        // if set to false the heatmap uses the global maximum for colorization
        // if activated: uses the data maximum within the current map boundaries
        //   (there will always be a red spot with useLocalExtremas true)
        "useLocalExtrema": true,
        // which field name in your data represents the latitude - default "lat"
        latField: 'lat',
        // which field name in your data represents the longitude - default "lng"
        lngField: 'lng',
        // which field name in your data represents the data value - default "value"
        valueField: 'count'
    };
    var heatmapLayer = new HeatmapOverlay(cfg);
    var carto_light = 'http://a.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png';
    var carto_dark = "http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png";
    var osm = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
    var toner = 'https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png';
    var bw = "http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png";
    var toner_lite = "http://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}.png";
    var water_color = "http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.png";
    var stamen_terrain = "http://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.png";
    var esri = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}";
    var esri_imagery = "http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}";
    var osm_hydda = "http://{s}.tile.openstreetmap.se/hydda/full/{z}/{x}/{y}.png";
    var tiles = new L.TileLayer(carto_light, {
        maxZoom: 22,
    })
    var metro = get_location(metro_'id');
    var map = new L.map('map', {
        layers: [tiles],
        center: new L.LatLng(metro.coords[0], metro.coords[1]),
        zoom: 12,
    });
    map.addControl(new Timestamp());
    heatmapLayer.addTo(map);

    var index = 0;
    setInterval(function(){
        var d = [];
        $('#timestamp').html(new Date(data[0].values[index][0]));
        for(var i in data){
            var p = data[i];
            if(p.values[index][1] !== 0){
                d.push({
                    lat:p.lat,
                    lng:p.lng,
                    count: p.values[index][1],
                });
            }
        }
        index++;
        heatmapLayer.setData({max:30, data:d});
        if(index == data[0].values.length){
            index = 0;
        }
    }, 300);
</script>
{% endblock %}
