{% extends 'base.html' %}

{% block style %}
    html, body{
        height: 100%;
    }
    #chart{
        height: 600px;
    }
    svg{
        height: 100%;
    }
{% endblock %}

{% block content %}
<br><br>
<h2>{{name}}</h2
With their permission, we captured data from visitors to live music venues in this metro area. This graph shows how many of our data volunteers were at a venue during the 14 hours they allowed us to follow them.

<div id="chart"><svg></svg></div>
<script>
    var data = {{data|safe}};
    nv.addGraph(function() {
        var chart = nv.models.stackedAreaChart()
            .x(function(d){ return new Date(d.x)})
            .useInteractiveGuideline(true)    //Tooltips which show all data points. Very nice!
            .showControls(true)
            .showLegend(false);

        //Format x-axis labels with custom function.
        chart.xAxis
            .tickFormat(function(d) {
              return d3.time.format('%m/%d %H:%M:%S')(new Date(d))
        });
        chart.yAxis.tickFormat(d3.format('.02f'));

        d3.select('#chart svg')
            .datum(data)
            .call(chart);

        nv.utils.windowResize(chart.update);
        return chart;
    })


    /**************************************
    * Simple test data generator
    */
    function randomData(groups, points) { //# groups,# points per group
        var data = [],
        shapes = ['circle', 'cross', 'triangle-up', 'triangle-down', 'diamond', 'square'],
        random = d3.random.normal();

        for (i = 0; i < groups; i++) {
            data.push({
                key: 'Group ' + i,
                values: []
            });

            for (j = 0; j < points; j++) {
                data[i].values.push({
                    x: random()
                    , y: random()
                    , size: Math.random()   //Configure the size of each scatter point
                    , shape: (Math.random() > 0.95) ? shapes[j % 6] : "circle"  //Configure the shape of each scatter point.
                });
            }
        }
        return data;
    }
</script>
{% endblock %}
