{% extends 'base.html' %}

{% block style %}
canvas { width: 100%; height: 100% }
#timestamp {
    position: absolute;
    bottom: 20px;
    right: 50px;
    height: 45px;
    padding: 7px;
}

#info {
    position: absolute;
    top: 75px;
    right: 50px;
    height: 45px;
    padding: 7px;
    background-color: #333333;
    color: #FFFFFF;
}
{% endblock %}

{% block container %}
    <script src="/static/bower_components/three.js/build/three.min.js"></script>
    <script src="/static/bower_components/three.js/examples/js/controls/OrbitControls.js"></script>
    <script>
        var data = {{data|safe}};
        for(var i in data){
            var metro = data[i];
            for(var v in metro){
                var venue = metro[v];
                for(t in venue){
                    var count = venue[t];
                    count.time = new Date(count.time).getTime();
                }
            }
        }
        var container;
        var camera, controls, scene, renderer, raycaster, mouse, INTERSECTED;
        var all_lines = [];
        var group = new THREE.Object3D();

        var metros = []
        var start_radius = 20;
        var spacing = 13;
        var counter = 0;
        var colors = d3.scale.category20().range();
        for(var m in data){
            var met = data[m];
            var c = Object.keys(met).length;
            if(c > 20){
                var vens = [];
                for(var i in met){
                    var obj = {points:met[i], name:i, metro:m};
                    vens.push(obj);
                }
                metros.push({
                    id:m,
                    count:Object.keys(met).length,
                    venues:vens,
                    radius:start_radius+(counter*spacing),
                    color:colors[counter],
                })
                counter++;
            }
        }

        init();

        function build(count, radius, color, vens){
            var venues = [];
            var lines = [];
            for(var i=0; i<count; i++){
                venues.push(1);
            }
            var group = new THREE.Object3D();
            var geometry = new THREE.Geometry();
            var material = new THREE.LineBasicMaterial({ color: 0x444444, linewidth: 1 });
            var material2 = new THREE.LineBasicMaterial({ color: color, linewidth: 3 });

            for (var i = 0; i <= venues.length; i++) {
                var theta = (i / count) * Math.PI * 2;
                geometry.vertices.push(
                    new THREE.Vector3(
                        Math.cos(theta) * radius,
                        Math.sin(theta) * radius,
                        0
                    )
                );
            }

            var circ = new THREE.Line(geometry, material)
            group.add(circ)

            for (var i = 0; i <= venues.length; i++) {
                var theta = (i / count) * Math.PI * 2;
                var l = new THREE.Geometry();
                l.vertices.push(
                    new THREE.Vector3(
                        Math.cos(theta) * radius,
                        Math.sin(theta) * radius,
                        0
                    ),
                    new THREE.Vector3(
                        Math.cos(theta) * radius,
                        Math.sin(theta) * radius,
                        venues[i]
                    )
                )
                var li = new THREE.Line(l, material2);
                li.userData = vens[i];
                group.add(li);
                lines.push(l);
                all_lines.push(li);
            }
            return {lines:lines, venues:venues, group:group};
        }

        function MouseMove(event){
            mouse.x = ( event.clientX / window.innerWidth ) * 2 - 1;
			mouse.y = - ( event.clientY / window.innerHeight ) * 2 + 1;
        }

        function init(){
            container = document.createElement( 'div' );
            var timestamp = document.createElement('div');
            timestamp.id = 'timestamp';
            var info = document.createElement('div');
            info.id = 'info';
            document.body.appendChild( container );
            raycaster = new THREE.Raycaster();
			mouse = new THREE.Vector2();
            document.addEventListener( 'mousemove', MouseMove, false );
            scene = new THREE.Scene();
            camera = new THREE.PerspectiveCamera(70, window.innerWidth / window.innerHeight, 1, 1000 );
            camera.position.set(0, -200,  30);
            camera.zoom = 2;
            camera.updateProjectionMatrix();
            camera.lookAt( scene.position );

            for(var i in metros){
                var m = metros[i];
                m.data = build(m.count, m.radius, m.color, m.venues);
                group.add(m.data.group);
            }
            scene.add(group);

            renderer = new THREE.WebGLRenderer( { antialias: true } ); // WebGLRenderer CanvasRenderer
            renderer.setClearColor( 0x000000 );
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize( window.innerWidth, window.innerHeight );
            controls = new THREE.OrbitControls( camera, renderer.domElement );
            container.appendChild( renderer.domElement );
            container.appendChild( timestamp );
            container.appendChild( info );
            update_controls();
        }

        function update_controls(){
            requestAnimationFrame(update_controls);
            raycaster.setFromCamera( mouse, camera );
            var intersects = raycaster.intersectObjects(all_lines);
            for ( var i = 0; i < intersects.length; i++ ) {
                var d = intersects[i].object.userData;
                $("#info").html(d.metro.substr(6)+": "+d.name);
            }
            controls.update();
            group.rotation.z+=.001;
            render();
        }

        var te = new TimespanEmitter(
            new Date('2016-02-18T22:00:00Z'),
            new Date('2016-02-19T12:00:00Z'),
            60000,
            1000,
            true
        );

        te.addListener('timer', animate);

        function animate(timestamp){
            $("#timestamp").html(timestamp);
            var now = timestamp.getTime();
            var metro_count = 0;
            for(var i in data){
                var metro = data[i];
                var venue_count=0;
                var c = Object.keys(metro).length;
                if(c > 20){
                    for(var v in metro){
                        var venue = metro[v];
                        for(var t in venue){
                            var count = venue[t];
                            if(count.time == now){
                                metros[metro_count].data.lines[venue_count].vertices[1].z=(count.visits+1);
                                metros[metro_count].data.lines[venue_count].verticesNeedUpdate = true;
                            }
                        }
                        venue_count++;
                    }
                    metro_count++;
                }
            }
        }

        function render(){
            renderer.render( scene, camera );
        }

        te.start();

    </script>
{% endblock %}
