<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}Chicago Hacks Big!</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			.content{
		    	margin-top: 55px;
			}
		</style>
		<style>
            {% block style %}{% endblock %}
		</style>
		<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/static/bower_components/d3/d3.min.js"></script>
        <script src="/static/bower_components/nvd3/build/nv.d3.min.js"></script>
        <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/static/bower_components/leaflet/dist/leaflet.js"></script>
		<script src="/static/bower_components/TimespanEmitter/TimespanEmitter.js"></script>
		<script src="/static/js/leaflet-indoor.js"></script>
		<script src="/static/js/heatmap.min.js"></script>
		<script src="/static/js/leaflet-heatmap.js"></script>
		<script src="/static/js/leaflet-heatmap.js"></script>
        <link rel="stylesheet" href="/static/bower_components/leaflet/dist/leaflet.css">
        <link rel="stylesheet" href="/static/bower_components/nvd3/build/nv.d3.min.css">
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
		<link href="/static/img/favicon.ico" rel="icon" type="image/x-icon" />
	</head>
	<body>
        {% block body %}
        {% block menu %}
        <nav class="navbar navbar-default navbar-fixed-top">
            {% block menu_items %}
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <img class="brand" src="" />
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Dashboard</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                Chicago Hacks Big!
                                <span class="caret"></span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
                {% endblock %}
            </nav>
            {% endblock %}
            {% block container %}
            <div class='container main'>
                <div id="notifications" class="row notifications">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for message in messages %}
                                {% include "widgets/notification.html" %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class='content row'>
                    {% block content %}{% endblock %}
                </div>
                <div class='footer row'>
                    {% block footer %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div><!-- /.container-fluid -->
    {% endblock %}
    </body>
    {% block javascript %}{% endblock %}
    </body>
</html>
