{% extends 'base.html' %}
{% block title %}Paint the Town Red{% endblock %}
{% block style %}
body{
	background: #232323;
	/*background-image: url("/static/img/bgimage.jpeg");*/
    background-repeat: no-repeat;
}

#info {
	padding:10px;
	color:#fff;
}

 #nav{
 	width: 800px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    background-color: #e53e22;
    float:left;
    }

 #nav ul {
 	height: auto;
    padding: 8px 0px;
    margin: 0px;
 }

 #nav li{
 	display: inline;
	padding: 20px;
	text-transform: uppercase;
 }
 #nav li a{
 	font-family: CooperHewitt-Thin;
    font-weight: normal;
 	color: #fff;
 }
 #nav li a:hover {
 	text-decoration:none;
 }
 #nav li a:active{
 	font-family: CooperHewitt-Medium;
 	font-weight: bold;
 }
 .section-callout{
 	width: 780px;
    font-size: 16px;
    background-color: #1888d7;
    padding:10px;
    font-family: CooperHewitt-Thin;
    margin:0px;
    }
 /** Headers **/

h1{
	font-family: CooperHewitt-Medium;
	font-weight:normal;
	font-size: 5em;
	text-transform: uppercase;
	line-height: 1em;
	margin-top:10px;
	margin-bottom: 10px;
}
h2{
	font-style: uppercase;
	font-family: CooperHewitt-Medium;
	font-weight: normal;
	font-size: 4em;
	line-height: 1em;
	margin-top:20px;
}
h3{
	font-style: uppercase;
	font-family: CooperHewitt-Medium;
	font-weight: normal;
	font-size: 3em;
	line-height: 1em;
	margin:0;
}
h4{
	font-style: uppercase;
	font-family: CooperHewitt-Medium;
	font-weight: normal;
	font-size: 2.25em;
	line-height: 1em;
	margin:0;
}
h5{
	font-style: uppercase;
	font-family: CooperHewitt-Semibold;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1em;
	margin:0;
}
h6{
	font-style: uppercase;
	font-family: CooperHewitt-Heavy;
	font-weight: normal;
	font-size: 1em;
	line-height: 1em;
	margin:0;
}

/* Text elements & specials */
p{
	font-family: CooperHewitt-Book;
	font-weight: normal;
	font-size: 1em;
}

li{
	padding-left: 2px;
	font-family: CooperHewitt-Medium;
}
.title-callout {
	color:#aaa;
	font-family: CooperHewitt-Medium;
}
.callout {
	font-family: CooperHewitt-Bold;
	color: #fff;
}
a {
	color: #e53e22;
}

a:hover {
	color: #ff4343;

}

#why {
	float:right;
	font-family: CooperHewitt-Thin;
	text-transform: uppercase;
	font-size: 1em;
}
#logo {
	position:relative;
	float:left;
}

#why a{
		color: #f48f00;
}

#test{
	height: 1000px;
}
{% endblock %}
{% block container %}
<section>
	<div class="container" id="main_container">
		<div class="row">
			<div id="info">
				<div id="header">
					<div id="logo">
						<h1>Chicago<span class="title-callout">Hacks</span>Big</h1>
					</div>
				</div>
				<div style="clear:both;"></div>
				<p>We created 4,500+ geofences around live music venues in 16 U.S. cities. We captured visit data to these geofences during the evening of February 18th and the morning of February 19th, 2016 in collaboration with DoStuff, whose app had 10,000+ users share location data.</p>
				<p>We published 13,000+ geofence visits using Gimbal (the SDK inside DoStuff's app) and we are visualizing live music attendees' real-life data using D3, Bootstrap, Gimbal SDKs, Heatmap.js, InfluxDB, JQuery, Leaflet, NVD3, Python and THREEJS.</p>
				<p><span class="callout">Our Promise:</span>  ChicagoHacksBig will donate 100% of all prize money to Smart Chicago, who helps Chicago Youth learn tech skills as a mission-driven non-profit. (<a href="https://twitter.com/hashtag/chihacksbig" target="_blank">#chihacksbig</a> on Twitter for more)</p>
			</div>
		</div>
	</div>
</section>
<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="0" data-image-src="/static/img/bgimage.jpeg" data-natural-width="1400" data-natural-height="900" style="height: 300px;"></div>
<section>
	<div class="container-fluid" id="test">
		<div class="embed-responsive embed-responsive-16by9">
  			<iframe class="embed-responsive-item" src="{{url_for('.mapmulitplemetrosightings_no', metro_ids='3,1,30,19')}}"></iframe>
		</div>
	</div>
</section>
{% endblock %}
